@charset 'utf-8';

body {
    font: 16px/1.4 Roboto, Arial, sans-serif;
}

:root {
    --color-green: #4B9200;
    --color-gray: #767474;
    --color-graylight: #F1F3F2;
    --color-orangemain: #FE9013;
    --color-red: #D31414;
    --color-bd: #bdbdbd;
    --color-blackBlue: #333B41;
}

/*      general      */

.link_no-effects {
    text-decoration: none;
    color: inherit;
}

.link-text {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-orangemain);
    padding-bottom: 2px;
    transition: 0.2s;
}

.link-text:hover {
    color: var(--color-green);
    border-color: var(--color-green)
}

.h2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
}

.h3 {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
}

.font-body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}

.font-subtitle {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
}

.font-smallparagraph {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 300;
}

.font-btn {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    max-width: 1160px;
    min-height: inherit;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
}

.yellow-highlight {
    color: #FFEE2E;
}

.button {
    color: white;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-color: #F9804B;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    height: fit-content;
    text-align: center;
}

.button_round_25 {
    border-radius: 25px;
    width: 300px;
    padding: 16px 0;
    max-height: 54px;
}

.button_round_5 {
    border-radius: 5px;
    width: 300px;
    padding: 16px 0;
}

.button_disabled {
    background-color: #767474;
}

.button:hover {
    background-color: #E47209;
    background-image: unset;
}

.button:active {
    background-color: var(--color-green);
    background-image: unset;
}



.copyright {
    color: white;
}

.a-button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}

/*      header       */

.header {
    background-color: black;
    width: 100%;
    color: white;
    position: relative;
    z-index: 2;
}

.header__inner {
    max-width: 1160px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    max-width: 82px;
    border: 1px solid white;
    border-radius: 2px;
    height: fit-content;
    padding: 4px 0 0;
    box-sizing: border-box;
    max-width: 82px;
}

.logo__h1 {
    font-size: 19px;
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    font-weight: 300;
    line-height: 1.2;
}

.logo_type_header {
    margin-right: 63px;
}

.logo__h1::after {
    content: '';
    position: absolute;
    width: 11.5px;
    height: 20px;
    left: 9px;
    bottom: 6px;
    background: url('../../assets/icons/bamboo.png')
}

.menu {
    display: flex;
    gap: 58px;
}

.menu_type_header {
    margin-right: auto;
}

.menu__link {
    color: white;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s;
    background-image: unset;
}

.menu__link_active,
.menu__link:hover {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #F9804B;
}

.menu__link_disabled {
    pointer-events: none;
}

.color_white {
    color: white;
}

.text-left {
    text-align: left;
    align-self: flex-start;
}


/*      footer       */

.footer {
    width: 100%;
    background-color: #111115;

}

.footer__layout {
    padding: 40px 0 50px;
    display: grid;
    justify-content: space-between;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-columns: 300px 1fr 300px;
    grid-template-rows: 120px 100px 1fr;
    grid-template-areas:
        "logo subscribe subscribe"
        "button . ."
        "social menu copyright";
}

.logo_footer {
    grid-area: logo;
}

.social {
    display: flex;
}

.subscribe_type_footer {
    grid-area: subscribe;
    color: white;
    justify-self: end;
}

.button_type_footer {
    grid-area: button;
}

.social_type_footer {
    grid-area: social;
    color: white;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}

.menu_type_footer {
    grid-area: menu;
    align-self: end;
    justify-self: center;
}

.copyright_type_footer {
    grid-area: copyright;
    justify-self: end;
    align-self: end;
    font-weight: 200;
}

.copyright_type_footer div:first-child {
    margin-bottom: 10px;
}

.social__logo {
    vertical-align: middle;
    margin-right: 8px;
}

.link_footer-social path {
    transition: 0.2s;
}

.link_footer-social:hover path,
.link_footer-social:hover .social__name {
    fill: var(--color-green);
    color: var(--color-green)
}

.social__name {
    vertical-align: bottom;
}

.subscribe {
    margin-top: 14px;
}

.input-text {
    background-color: transparent;
    border: 1px solid var(--color-orangemain);
    border-radius: 2px;
    padding: 10px;
    max-height: 42px;
    color: #bdbdbd;
    box-sizing: border-box;
}

.input-text:focus {
    border-color: var(--color-green);
    outline: unset;
    color: var(--color-bd);
}

.input-text_subscribe {
    margin-right: 5px;
    min-width: 228px;
}

.input-text::placeholder {
    font-size: 16px;
    line-height: 1.4;
    color: var(--color-bd);
}

.submit-btn {
    font-size: 16px;
    line-height: 1.4;
    color: black;
    padding: 10px 40px;
    border: 1px solid #333B41;
    border-radius: 5px;
    background-color: var(--color-graylight);
    box-sizing: border-box;
    max-height: 42px;
    cursor: pointer;
}

.submit-btn:active {
    color: var(--color-green);
    border-color: var(--color-green);
}

.input-text:invalid {
    color: var(--color-red);
    border-color: var(--color-red);
}

.input-text:invalid + .submit-btn {
    color: var(--color-red);
    border-color: var(--color-red);
}

.input-text:default+.submit-btn {
    color: black;
    border-color: black;
}


.input-text_number {
    width: 268px;
    min-height: 54px;
    padding: 0 9px;
    border-color: #929699;
}

.margin0 {
    margin: 0;
}

@media screen and (max-width: 1330px) {
    .wrapper {
        padding: 0 30px;
    }

    .menu_type_footer {
        gap: 48px;
    }
}

@media screen and (max-width: 640px) {

    .wrapper {
        padding: 0 20px;
    }

    .footer__layout {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "logo social"
            "button social"
            "menu copyright";
    }

    .subscribe_type_footer {
        display: none;
    }

    .menu_type_footer {
        gap: 37px;
    }

    .social_type_footer {
        justify-self: end;
        gap: 20px;
    }

    .social__name {
        display: none;
    }
}