body {
    font: 16px/1.4 Roboto, sans-serif;
}

:root {
    --color-green: #4B9200;
    --color-gray: #767474;
    --color-graylight: #F1F3F2;
    --color-orangemain: #FE9013;
}

/*      general      */

.submit-btn {
    font-size: 16px;
    line-height: 1.4;
    color: black;
    padding: 10px 40px;
    border: 1px solid #333B41;
    border-radius: 5px;
    background-color: var(--color-graylight);
    box-sizing: border-box;
    max-height: 42px;
}

.input-text {
    background-color: transparent;
    border: 1px solid var(--color-orangemain);
    border-radius: 2px;
    padding: 10px;
    max-height: 42px;
}

.input-text_subscribe {
    margin-right: 10px;
}

.input-text::placeholder {
    font-size: 16px;
    line-height: 1.4;
    color: #bdbdbd;
}

.link-text {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid var(--color-orangemain);
    padding-bottom: 2px;
    transition: 0.2s;
}

.link-text:hover {
    color: var(--color-green);
    border-color: var(--color-green)
}

.h2 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 400;
}

.h3 {
    font-size: 36px;
    line-height: 1.3;
    font-weight: 400;
    text-align: center;
}

.font-body {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 400;
}

.font-subtitle {
    font-size: 24px;
    line-height: 1.2;
    font-weight: 400;
}

.font-smallparagraph {
    font-size: 15px;
    line-height: 1.2;
    font-weight: 300;
}

.font-btn {
    font-size: 16px;
    line-height: 1.4;
    font-weight: 500;
    text-transform: uppercase;
}

.wrapper {
    width: 100%;
    max-width: 1160px;
    min-height: inherit;
    margin: 0 auto;
    position: relative;
}

.yellow-highlight {
    color: #FFEE2E;
}

.button {
    color: white;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-color: #F9804B;
    text-transform: uppercase;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    height: fit-content;
}

.button_round_25 {
    border-radius: 25px;
    width: 300px;
    padding: 16px 0;
}

.button_round_5 {
    border-radius: 5px;
    width: 300px;
    padding: 16px 0;
}

.button_disabled {
    background-color: #767474;
}

.button:hover {
    background-color: #E47209;
    background-image: unset;
}

.button:active {
    background-color: var(--color-green);
    background-image: unset;
}

.button_type_first-screen {
    position: absolute;
    right: 11.6%;
    bottom: 7.8%;
}

.copyright {
    color: white;
}

/*      header       */

.header {
    background-color: black;
    width: 100%;
    color: white;
    position: absolute;
    z-index: 2;
}

.header__inner {
    width: 1160px;
    height: 80px;
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.logo {
    max-width: 82px;
    border: 1px solid white;
    border-radius: 2px;
    height: fit-content;
}

.logo__h1 {
    font-size: 19px;
    text-align: center;
    color: white;
    margin: 0;
    position: relative;
    font-weight: 300;
}

.logo_type_header {
    margin-right: 63px;
}

.logo__h1::after {
    content: '';
    position: absolute;
    width: 11.5px;
    height: 20px;
    left: 11px;
    bottom: 7px;
    background: url('../../assets/icons/bamboo.svg')
}

.menu {
    display: flex;
    gap: 58px;
}

.menu_type_header {
    margin-right: auto;
}

.menu__link {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: 0.2s;
    background-image: unset;
}

.menu__link_active,
.menu__link:hover {
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: #F9804B;
}



/*          first-screen         */

.first-screen {
    min-height: 780px;
    background: center / cover no-repeat url(../../assets/images/Giant-Panda.jpg) #eee;
    position: relative;
    margin: 0 auto;
    margin-bottom: 140px;
}

.first-screen__heading {
    position: absolute;
    font-weight: 600;
    font-size: 106.5px;
    line-height: 0.75;
    text-transform: uppercase;
    text-align: center;
    color: white;
    width: 40%;
    max-width: 500px;
    top: 22%;
    right: 0;
    z-index: 2;
    margin: 0;
}

.first-screen__circle {
    width: 465px;
    height: 465px;
    border-radius: 50%;
    position: absolute;
    top: 12%;
    right: 9.3%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}



/*      backstage        */

.backstage {
    position: relative;
}

.backstage__right-img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.backstage-content {
    display: flex;
    gap: 87px;
    margin-bottom: 180px;
}

.backstage__img {
    width: 609px;
    height: 403px;
}

.backstage__item {
    display: flex;
    flex-direction: column;
}

.backstage__item h2 {
    margin: 0 0 20px;
}

.backstage__item .font-body {
    margin: 0 0 54px;
}

.backstage__item .font-subtitle {
    margin: 0 0 34px;
}

.backstage__item .font-body:last-child {
    margin: 0;
}



/*      pets         */

.pets {
    padding-bottom: 100px;
    position: relative;
    background: right bottom no-repeat url(../../assets/images/strelitzia-1.png),
        left bottom no-repeat url(../../assets/images/palm_foto.png);
}

.pets__layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
}

.pets__item {
    padding: 0;
    margin: 0;
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
}

.pets-item__caption {
    padding: 8px 16px 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    background-color: var(--color-graylight);
    z-index: 1;
    left:-1px;
    width: calc(100% - 30px);
    border-radius: 5px;
}

.pets-item__img {
    border-radius: 5px;
    transition: 0.2s;
    position: relative;
    z-index: 3;
    display: block;
}

.pets__item:hover .pets-item__img {
    transform: scale(1.05);
}

.pets__item:hover .pets-item__caption {
    bottom: -72px;
}

.pets__item:hover {
    z-index: 10;
}

.pets__btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 80px;
}

.button-arrow {
    position: absolute;
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}


.button-arrow {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}

.button-arrow_left {
    top: 50%;
    right: calc(100% + 20px);
    transform: translateY(-50%);
}

.button-arrow_right {
    top: 50%;
    left: calc(100% + 20px);
    transform: translateY(-50%);
}



/*      pick friend      */

.pick-friend {
    background-image:
    linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 70px 0 100px;
    margin-bottom: 140px;
}

.pick-friend__content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    padding: 5% 11% 7%;
    align-items: center;
}

.pick-friend__how-works {
    margin: 60px 0;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
}

.how-works__item {
    padding: 0;
    margin: 0;
}

.how-works-item__img {
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.how-works__arrow {
    margin-top: 62px;
}

.pick-friend__content .h2{
    color: var(--color-orangemain);
    margin: 0 0 30px;
}

.pick-friend__content .font-subtitle{
    margin: 0 0 40px;
    align-self: flex-start;
}

.pick-friend__content .font-body{
    margin: 0 0 10px;
}

.pick-friend__content .h3{
    margin: 50px 0 0;
}



/*      testimonials         */

.testimonials {
    padding-bottom: 180px;
    background: right bottom no-repeat url(../../assets/images/leav.png);
}

.testimonials_h3 {
    margin: 0 0 47px;
}

.testimonials__layout {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.testimonials-layout__item {
    padding: 2px;
    max-width: 25%;
    display: flex;
    flex-direction: column;
    border: double 1px transparent;
    border-radius: 20px;
    background-image: linear-gradient(#F1F3F2, #F1F3F2), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.testimonials-item__header {
    margin: 16px;
    display: flex;
    gap: 10px;
}

.testimonials-item-header__subtext {
    color: #bdbdbd;
    display: flex;
    gap: 6px;
}

.testimonials-layout__body {
    margin: 16px;
    margin-top: 0;
    color: var(--color-gray);
}

.testimonials__scroll {
    width: 100%;
    max-width: 600px;
    height: 8px;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 1px;
    background-image:
    linear-gradient(#F5F7F6, #F5F7F6),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.testimonials-scroll__bar {
    width: 30%;
    margin: 1px;
    height: 6px;
    border-radius: 3px;
}



/*      footer       */

.footer {
    width: 100%;
    background-color: #111115;

}

.footer__layout {
    padding: 40px 0 50px;
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 120px 100px 1fr;
    grid-template-areas:
        "logo . subscribe"
        "button . ."
        "social menu copyright";
}

.logo_footer {
    grid-area: logo;
}

.social {
    display: flex;
}

.subscribe_type_footer {
    grid-area: subscribe;
    color: white;
    justify-self: end;
}

.button_type_footer {
    grid-area: button;
}

.social_type_footer {
    grid-area: social;
    color: white;
    flex-direction: column;
    gap: 10px;
}

.menu_type_footer {
    grid-area: menu;
    align-self: end;
}

.copyright_type_footer {
    grid-area: copyright;
    justify-self: end;
    align-self: end;
    font-weight: 200;
}

.social__logo {
    vertical-align: middle;
    margin-right: 8px;
}

.social__name {
    vertical-align: bottom;
}

.subscribe {
    margin-top: 14px;
}
