@charset 'utf-8';

/*          first-screen         */

.first-screen {
    min-height: 700px;
    background: center / cover no-repeat url('../../assets/images/panda_bg.jpg') #eee;
    position: relative;
    margin: 0 auto;
    margin-bottom: 140px;
}

.first-screen__heading {
    position: absolute;
    font-weight: 600;
    font-size: 106.5px;
    line-height: 0.75;
    text-transform: uppercase;
    text-align: center;
    color: white;
    max-width: 500px;
    top: 12%;
    right: 0;
    z-index: 2;
    margin: 0;
}

.first-screen__circle {
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 9.3%;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-position: center;
}

.button_type_first-screen {
    position: absolute;
    right: 8.6%;
    bottom: 14.5%;
}


/*      backstage        */

.backstage {
    position: relative;
    margin-bottom: 173px;
    /* overflow: hidden; */
}

.backstage__right-img {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}

.backstage-content {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}

.backstage__img {
    width: 609px;
    height: 403px;
    min-width: 40%;
    background: center / cover url('../../assets/images/bamboo-cap.jpg');
}

.backstage__item {
    display: flex;
    flex-direction: column;
    max-width: 465px;
}

.backstage__item h2 {
    margin: 0 0 20px;
}

.backstage__item .font-body {
    margin: 0 0 54px;
}

.backstage__item .font-subtitle {
    margin: 0 0 34px;
}

.backstage__item .font-body:last-child {
    margin: 0;
}



/*      pets         */

.pets {
    padding-bottom: 100px;
    position: relative;
    background: right bottom no-repeat url('../../assets/images/strelitzia-1.png'),
        left bottom no-repeat url('../../assets/images/palm_foto.png');
}

.pets__wrapper {
    position: relative;
}

.pets__container {
    position: relative;
    display: flex;
    overflow: hidden;
}

.pets__layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: absolute;
    transition: 0.2s;
    left: 0;
    right: 0;
    will-change: transform;
}





.pets__item {
    padding: 0;
    margin: 0;
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.pets-item__caption {
    padding: 16px 16px 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    background-color: var(--color-graylight);
    left: -1px;
    width: calc(100% - 30px);
    bottom: -144px;
}

.pets-item__img {
    border-radius: 3px;
    transition: 0.2s;
    position: relative;
    /* z-index: 3; */
    display: block;
    height: 100%;
}

.pets-item__img-wrapper {
    overflow: hidden;
    height: 100%;
}

.pets__item:hover .pets-item__img {
    transform: scale(1.057);
    filter: brightness(70%);
}

.pets__item:hover .pets-item__caption {
    bottom: 0;
}

.pets__item:hover {
    /* z-index: 10; */
}

.pets__btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 80px;
}

.button-arrow {
    position: absolute;
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
    transform: translateZ(0);
    z-index: 20;
}


.button-arrow {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}

.button-arrow_left {
    top: 50%;
    left: -20px;
    transform: translate(-100%, -50%);
}

.button-arrow_right {
    top: 50%;
    right: -20px;
    transform: translate(100%, -50%);
}



/*      pick friend      */

.pick-friend {
    background-image:
        linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 70px 0 100px;
    margin-bottom: 140px;
}

.pick-friend__content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    padding: 40px 0 60px;
    align-items: center;
}

.pick-friend-content__inner {
    margin-left: 50px;
}

.pick-friend__how-works {
    margin: 36px 0 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.how-works__item {
    padding: 0;
    margin: 0;
}

.how-works-item__img {
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-sizing: border-box;
}

.how-works-item__text {
    max-width: 168px;
}

.how-works__arrow {
    margin-top: 62px;
    width: 70px;
    height: 35px;
    background: center / cover no-repeat url('../../assets/icons/arrow.svg');
}

.pick-friend__content .h2 {
    color: var(--color-orangemain);
    margin: 0 0 30px;
}

.pick-friend__content .font-subtitle {
    margin: 0 0 40px;
    align-self: flex-start;
}

.pick-friend__content .font-body {
    margin: 0 0 10px;
}

.pick-friend__content .h3 {
    margin: 50px 0 0;
}



/*      testimonials         */

.testimonials {
    padding-bottom: 180px;
    background: right bottom no-repeat url('../../assets/images/leav.png');
}

.testimonials_h3 {
    margin: 0 0 47px;
}

.testimonials__content {
    overflow: hidden;
}

.testimonials__layout {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    position: relative;
    left: 0;
    transition: 0.2s;
}

.testimonials-layout__item {
    padding: 2px;
    width: calc(25% - 27px);
    flex-shrink: 0;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-image: linear-gradient(#F1F3F2, #F1F3F2), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-sizing: border-box;
}

.testimonials-item__header {
    margin: 13px;
    margin-bottom: 8px;
    margin-top: 14px;
    display: flex;
    gap: 10px;
    align-items: center;
}

.testimonials-item__header img {
    height: min-content;
    border-radius: 50%;
    object-fit: contain;
}

.testimonials-item-header__subtext {
    color: #bdbdbd;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.testimonials-layout__body {
    margin: 13px;
    margin-top: 0;
    margin-bottom: 16px;
    color: var(--color-gray);
    overflow: hidden;
}

.testimonials__range {
    -webkit-appearance: none;
    appearance: none;
    width: 600px;
    margin: 20px auto 30px;
    height: 8px;
    border-radius: 4px;
    padding: 1px;
    background-image:
    linear-gradient(#F5F7F6, #F5F7F6),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    display: block;
    cursor: pointer;
}

.testimonials__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    background-color: var(--color-orangemain);
    border-radius: 4px;
    width: 12.5%;
    height: 6px;
}

.testimonials__range::-webkit-slider-thumb:hover {
    background-color: var(--color-green);
}



/*      responsive       */

@media screen and (max-width: 1330px) {
    .pets__layout {
        row-gap: 92px;
    }

    .button-arrow_left {
        left: 41%;
    }

    .button-arrow_right {
        right: 41%;
    }

    .backstage__right-img {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    .first-screen__circle {
        width: 367px;
        top: -2%;
        right: 177px;
    }

    .first-screen {
        min-height: 504px;
        margin-bottom: 100px;
    }

    .first-screen__heading {
        font-size: 85px;
        right: 85px;
        top: 42px;
        width: 400px;
    }

    .backstage {
        margin-bottom: 140px;
    }

    .button_type_first-screen {
        right: 137px;
        bottom: 47px;
    }

    .testimonials-item_4,
    .backstage__right-img {
        display: none;
    }

    .backstage__img {
        width: 454px;
        height: 408px;
        margin-top: 8px;
    }

    .backstage__item .font-body:last-child {
        margin-top: -2px;
    }

    .backstage__item {
        max-width: 454px;
    }

    .pets__item {
        box-sizing: border-box;
        max-height: 354px;
    }

    .pick-friend__content .font-subtitle {
        margin-bottom: 17px;
    }

    .pick-friend__content .font-body {
        margin-bottom: 7px;
    }

    .pick-friend__content .h3 {
        margin-top: 31px;
    }

    .pick-friend__how-works {
        margin-bottom: 63px;
        flex-wrap: wrap;
        margin-top: 40px;
    }

    .pick-friend__content {
        padding-bottom: 50px;
        padding-top: 30px;
    }

    .pick-friend__content .h2 {
        margin-bottom: 24px;
    }

    .pick-friend {
        margin-bottom: 100px;
        padding: 30px 0;
        padding-bottom: 50px;
    }

    .pets {
        padding-bottom: 140px;
        background: right bottom / 24% no-repeat url('../../assets/images/strelitzia-1.png'),
            left bottom / 19% no-repeat url('../../assets/images/palm_foto2.png');
    }

    .pick-friend-content__inner {
        margin-right: 45px;
    }

    .testimonials {
        padding-bottom: 140px;
        background: right -8.5% bottom -17% no-repeat url('../../assets/images/leav-main.png');

    }

    .testimonials_h3 {
        margin-bottom: 30px;
    }

    .testimonials__range {
        max-width: 390px;
        margin-bottom: 49px;
    }

    .testimonials-layout__item {
        width: calc(34% - 30px);
    }
}

@media screen and (max-width: 850px) {
    .how-works__arrow {
        position: absolute;
        width: 88px;
        height: 28px;
        margin: 0;
        top: -15px;
        background-image: url('../../assets/icons/arrow-style-2.svg');

    }

    .how-works__arrow_one {
        left: 23%;
    }

    .how-works__arrow_two {
        right: 26%;
    }
}

@media screen and (max-width: 640px) {

    .testimonials-layout__item {
        width: 100%;
    }
    .first-screen__heading {
        font-size: 54px;
        line-height: 0.75;
        max-width: 255px;
        top: 48px;
        right: 14px;
    }

    .first-screen {
        min-height: 340px;
        margin-bottom: 60px;
    }

    .first-screen__circle {
        top: 12px;
        width: 237px;
        right: 71px;
    }

    .button_type_first-screen {
        left: 20px;
        bottom: 6.5vw;
    }

    .backstage__img {
        display: none;
    }

    .backstage__right-img {
        display: initial;
        right: 0;
        top: 178px;
        content: url("../../assets/images/flower_foto640.png")
    }

    .backstage__item .font-body {
        margin-bottom: 28px;
    }

    .backstage__item .font-subtitle {
        margin-bottom: 20px;
    }

    .backstage__item {
        max-width: 491px;
    }

    .backstage {
        margin-bottom: 79px;
    }

    .pets__layout {
        grid-template-columns: 1fr 1fr;
    }

    .pets__item {
        max-height: 332px;
    }

    .pets__item_disable {
        display: none;
    }

    .pets {
        padding-bottom: 100px;
        background: right bottom / 27% no-repeat url('../../assets/images/strelitzia-1.png'),
        left -14% bottom / 31% no-repeat url('../../assets/images/palm_foto2.png');
    }

    .pick-friend {
        padding: 20px 0;
        margin-bottom: 60px;
    }

    .button-arrow_left {
        left: 48%;
    }

    .button-arrow_right {
        right: 48%;
    }

    .pick-friend .wrapper {
        padding: 0;
    }

    .testimonials__layout {
        flex-direction: column;
        gap: 15px;
    }

    .testimonials__range,
    .testimonial_hide {
        display: none;
    }

    .button_testimonials {
        margin: 40px auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        width: 240px;
        margin: 22px auto 0;
    }

    .testimonials {
        padding-bottom: 80px;
        background: right -4px bottom 2px / 12% no-repeat url('../../assets/images/leav.png');
    }

    .pets__btn {
        margin-top: 60px;
    }

    .pick-friend__content .h2 {
        font-size: 42px;
        margin-bottom: 17px;
    }

    .pick-friend__content {
        padding-top: 11px;
        padding-bottom: 60px;
    }

    .pick-friend-content__inner {
        margin: 0;
        padding: 0 20px;
    }

    .pick-friend__content .font-subtitle {
        margin-bottom: 16px;
    }

    .pick-friend__content .h3 {
        margin-top: 22px;
    }

    .pick-friend__how-works {
        margin-top: 20px;
        margin-bottom: 33px;
        gap: 40px;
        margin-left: -14px;
    }

    .testimonials-item__header {
        margin: 12px;
        margin-bottom: 9px;
    }
    .testimonials-layout__body {
        max-height: 32px;
        margin-bottom: 11px;
    }

    .testimonial_popup {
        z-index: 20;
        opacity: 1;
        max-width: 267px;
        max-height: 80vh;
    }

    .testimonial_popup .testimonials-layout__body {
        max-height: unset;
        margin-bottom: 11px;
        overflow: auto;
    }

    .overlay-x-icon {
        position: fixed;
        top: 54px;
        right: 24px;
    }

}


@media screen and (max-width: 600px) {

    .pick-friend__how-works {
        flex-direction: column;
    }
    .how-works__arrow {
        transform: rotate(84deg);
        right: -62px;
        left: unset;
    }

    .how-works__arrow_one {
        top: 194px;
    }

    .how-works__arrow_two {
        top: 445px;
    }

    .how-works__item_2nd {
        margin-bottom: -10px;
    }

    .how-works-item__img {
        margin-bottom: 10px;
    }

    .pick-friend__how-works {
        gap: 32px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 520px) {
    .backstage__right-img {
        top: 67px;
        content: url("../../assets/images/flower_foto320.png")
    }
}


@media screen and (max-width: 320px) {

    .pick-friend {
        margin-bottom: 30px;
    }

    .pick-friend__how-works {
        margin-left: 0;
        gap: 33px;
        margin-bottom: 32px;
    }

    .pets__layout {
        grid-template-columns: 1fr;
    }

    .first-screen {
        min-height: 187px;
        margin-bottom: 106px;
    }

    .first-screen__heading {
        font-size: 28px;
        max-width: 128px;
        top: 41px;
        right: 10px;
    }

    .first-screen__circle {
        top: 22px;
        right: 38px;
        width: 120px;
    }

    .button_type_first-screen {
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 90%;
        bottom: -74px;
    }

    .backstage__item h2 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 8px;

    }

    .backstage {
        margin-bottom: 38px;

    }

    .backstage__right-img {
        top: 47px;
        content: url("../../assets/images/flower_foto320.png")
    }

    .backstage__item .font-body {
        margin-bottom: 17px;
    }

    .backstage__item .font-subtitle {
        margin-bottom: 10px;
    }

    .pets__layout {
        row-gap: 20px;
        width: 95%;
    }

    .button-arrow {
        display: none;
    }

    .pets__btn {
        margin-top: 20px;
    }

    .pets {
        padding-bottom: 60px;
        background: right -22px bottom -2px / 28% no-repeat url('../../assets/images/strelitzia-1.png'),
        left -11px  bottom / 22% no-repeat url('../../assets/images/palm_foto2.png');
    }

    .pick-friend__content .h2 {
        margin-bottom: 12px;
    }

    .pick-friend__content {
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .pick-friend-content__inner {
        padding: 0;
        margin: 0;
        text-align: center;
        margin-bottom: 3px;
    }

    .pick-friend__content .h2 {
        font-size: 24px;
        line-height: 1.2;
        align-self: center;
    }

    .pick-hide {
        display: none;
    }

    .pick-friend__content .font-subtitle {
        font-size: 18px;
    }

    .pick-friend .wrapper {
        padding: 0 10px;
    }

    .pick-friend__content .h3 {
        margin-top: 0;
        font-size: 24px;
        line-height: 1.2;
    }

    .testimonials {
        padding-bottom: 60px;
        background: right -45px bottom -30px / 30% no-repeat url('../../assets/images/leav_foto320.png');
    }

    .testimonials_h3 {
        margin-bottom: 16px;
        font-size: 24px;
    }

    .testimonials__layout {
        margin-bottom: 0;
    }

    .button_testimonials {
        margin: 30px 0 0;
        width: 240px;
    }

    .pets__item {
        max-height: 332px;
    }

    .testimonials-item__header {
        margin: 8px;
        gap: 6px;
        margin-left: 11px;
        margin-bottom: 9px;
    }

    .testimonials-layout__body {
        margin-bottom: 16px;
        margin-left: 16px;
    }

}