@charset 'utf-8';

/*          first-screen         */

.first-screen {
    min-height: 700px;
    background: center / cover no-repeat url('../../assets/images/panda_bg.jpg') #eee;
    position: relative;
    margin: 0 auto;
    margin-bottom: 140px;
}

.first-screen__heading {
    position: absolute;
    font-weight: 600;
    font-size: 106.5px;
    line-height: 0.75;
    text-transform: uppercase;
    text-align: center;
    color: white;
    max-width: 500px;
    top: 12%;
    right: 0;
    z-index: 2;
    margin: 0;
}

.first-screen__circle {
    width: 40%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    position: absolute;
    top: 2%;
    right: 9.3%;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    background-position: center;
}

.button_type_first-screen {
    position: absolute;
    right: 8.6%;
    bottom: 14.5%;
}


/*      backstage        */

.backstage {
    position: relative;
    margin-bottom: 173px;
}

.backstage__right-img {
    position: absolute;
    right: 0;
    top: 45%;
    transform: translateY(-50%);
}

.backstage-content {
    display: flex;
    justify-content: space-between;
}

.backstage__img {
    width: 609px;
    height: 403px;
    background: center / cover url('../../assets/images/bamboo-cap.jpg');
}

.backstage__item {
    display: flex;
    flex-direction: column;
    max-width: 465px;
}

.backstage__item h2 {
    margin: 0 0 20px;
}

.backstage__item .font-body {
    margin: 0 0 54px;
}

.backstage__item .font-subtitle {
    margin: 0 0 34px;
}

.backstage__item .font-body:last-child {
    margin: 0;
}



/*      pets         */

.pets {
    padding-bottom: 100px;
    position: relative;
    background: right bottom no-repeat url('../../assets/images/strelitzia-1.png'),
        left bottom no-repeat url('../../assets/images/palm_foto.png');
}

.pets__layout {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    position: relative;
}

.pets__item {
    padding: 0;
    margin: 0;
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.pets-item__caption {
    padding: 16px 16px 10px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    transition: 0.2s;
    background-color: var(--color-graylight);
    left:-1px;
    width: calc(100% - 30px);
    bottom: -76px;
}

.pets-item__img {
    border-radius: 3px;
    transition: 0.2s;
    position: relative;
    /* z-index: 3; */
    display: block;
}

.pets-item__img-wrapper {
    overflow: hidden;
}

.pets__item:hover .pets-item__img {
    transform: scale(1.057);
    filter: brightness(70%);
}

.pets__item:hover .pets-item__caption {
    bottom: 0;
}

.pets__item:hover {
    /* z-index: 10; */
}

.pets__btn {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-top: 80px;
}

.button-arrow {
    position: absolute;
    border: none;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}


.button-arrow {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 0,
        'opsz' 48
}

.button-arrow_left {
    top: 50%;
    left: -20px;
    transform: translate(-100%, -50%);
}

.button-arrow_right {
    top: 50%;
    right: -20px;
    transform: translate(100%, -50%);
}



/*      pick friend      */

.pick-friend {
    background-image:
    linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 70px 0 100px;
    margin-bottom: 140px;
}

.pick-friend__content {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(253, 253, 255, 0.52);
    padding: 40px 0 60px;
    align-items: center;
}

.pick-friend-content__inner {
    margin-left: 50px;
}

.pick-friend__how-works {
    margin: 36px 0 50px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: flex-start;
    position: relative;
}

.how-works__item {
    padding: 0;
    margin: 0;
}

.how-works-item__img {
    border: double 1px transparent;
    border-radius: 5px;
    background-image: linear-gradient(white, white),
        linear-gradient(113.96deg, #FA6F32 1.49%, #FE9013 101.44%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    width: 168px;
    height: 168px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.how-works-item__text {
    max-width: 168px;
}

.how-works__arrow {
    margin-top: 62px;
    width: 70px;
    height: 35px;
    background: center / cover no-repeat url('../../assets/icons/arrow.svg');
}

.pick-friend__content .h2{
    color: var(--color-orangemain);
    margin: 0 0 30px;
}

.pick-friend__content .font-subtitle{
    margin: 0 0 40px;
    align-self: flex-start;
}

.pick-friend__content .font-body{
    margin: 0 0 10px;
}

.pick-friend__content .h3{
    margin: 50px 0 0;
}



/*      testimonials         */

.testimonials {
    padding-bottom: 180px;
    background: right bottom no-repeat url('../../assets/images/leav.png');
}

.testimonials_h3 {
    margin: 0 0 47px;
}

.testimonials__layout {
    display: flex;
    gap: 30px;
    width: 100%;
    margin-bottom: 20px;
}

.testimonials-layout__item {
    padding: 2px;
    /* max-width: 25%; */
    width: 100%;
    max-height: 390px;
    display: flex;
    flex-direction: column;
    /* border: double 1px transparent; */
    border-radius: 20px;
    background-image: linear-gradient(#F1F3F2, #F1F3F2), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.testimonials-item__header {
    margin: 13px;
    margin-bottom: 8px;
    margin-top: 11px;
    display: flex;
    gap: 10px;
}

.testimonials-item__header img {
    border-radius: 50%;
    object-fit: contain;
}

.testimonials-item-header__subtext {
    color: #bdbdbd;
    display: flex;
    gap: 6px;
    flex-wrap: wrap;
}

.testimonials-layout__body {
    margin: 13px;
    margin-top: 0;
    margin-bottom: 22px;
    color: var(--color-gray);
    overflow: hidden;
}

.testimonials__scroll {
    width: 100%;
    max-width: 600px;
    height: 8px;
    margin: 0 auto;
    border-radius: 4px;
    margin-bottom: 30px;
    padding: 1px;
    background-image:
    linear-gradient(#F5F7F6, #F5F7F6),
    linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.testimonials-scroll__bar {
    width: 115px;
    margin: 1px;
    height: 6px;
    border-radius: 3px;
}



/*      responsive       */

@media screen and (max-width: 1330px) {
    .pets__layout {
        row-gap: 92px;
    }

    .button-arrow_left {
        left: 40%;
    }

    .button-arrow_right {
        right: 40%;
    }
}

@media screen and (max-width: 1000px) {

    .header__inner {
        padding: 0 30px;
    }

    .first-screen__circle {
        width: 36.7%;
        top: -2%;
    }

    .first-screen {
        min-height: 504px;
        margin-bottom: 105px;
    }

    .first-screen__heading {
        font-size: 85px;
    }

    .backstage {
        margin-bottom: 142px;
    }

    .button_type_first-screen {
        bottom: 47px;
    }

    .testimonials-item_4,
    .backstage__right-img {
        display: none;
    }

    .backstage__img {
        width: 454px;
        height: 408px;
    }

    .backstage__item {
        max-width: 454px;
    }

    .pick-friend__content .font-subtitle {
        margin-bottom: 20px;
    }

    .pick-friend__content .h3 {
        margin-top: 40px;
    }

    .pick-friend__how-works {
        margin-bottom: 70px;
    }

    .pick-friend__content {
        padding-bottom: 50px;
    }

    .pick-friend {
        margin-bottom: 100px;
    }

    .pets {
        background: right bottom / 20% no-repeat url('../../assets/images/strelitzia-1.png'),
        left bottom / 16% no-repeat url('../../assets/images/palm_foto2.png');
    }

    .pick-friend-content__inner {
        margin-right: 45px;
    }

    .testimonials {
        padding-bottom: 140px;
    }
}

@media screen and (max-width: 640px) {
    .how-works__arrow {
        position: absolute;
        width: 88px;
        height: 28px;
        margin: 0;
        top: -15px;
        background-image: url('../../assets/icons/arrow-style-2.svg');

    }
    .how-works__arrow_one {
        left: 137px;
    }

    .how-works__arrow_two {
        right: 137px;
    }
}