@charset 'utf-8';
/*      hero image       */

.hero-image {
    background: center / cover no-repeat url(../../assets/images/panda_bg.jpg) #eee;
    width: 100%;
    min-height: 389px;
    position: relative;
    margin: 0 auto;
}



/*      pick friend      */

.pick {
    background-image:
        linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%),
        linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    opacity: 0.9;
    padding: 40px 0 180px;
}

.pick__information h3 {
    text-align: left;
}

.pick__information p {
    margin: 10px 0;
}

.pick-friend_h3 {
    color: var(--color-orangemain);
    margin: 47px 0 60px;
}

.pick-friend_h2 {
    color: var(--color-orangemain);
    margin: 0;
}

.pick_font-subtitle {
    align-self: flex-start;
}

.pick-content {
    padding: 40px 92px 62px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.52);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.pick__diagram {
    display: flex;
    gap: 50px;
    align-items: center;
    margin: 85px 0 29px;
}

.pick-diagram__count {
    font-size: 72px;
    font-weight: 500;
    line-height: 1.1;
    text-align: center;
}

.svg-x {
    margin-left: -42px;
    margin-top: -15px;
}

.pick-diagram-animal_panda {
    background: center no-repeat;
    width: 300px;
    height: 200px;
    margin-left: 5px;
}

.pick-diagram-animal_panda {
    background-image: url(../../assets/icons/panda_widget1.svg);
}

.pick__donate-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin-top: -4px;
}

.pick__donate-form {
    width: 100%;
}

.donate-form__amount {
    display: flex;
    width: 100%;
    height: 27px;
    background-color: #404950;
    padding: 0 30px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-bottom: 90px;
    border-radius: 2px;
    position: relative;
}

.donate-form__amount::after {
    content: '';
    width: calc(100% - 60px);
    height: 2px;
    background-color: #72828E;
    position: absolute;
    z-index: 1;
}

.donate-amount__item {
    position: relative;
    z-index: 3;
}

.donate-amount__item label {
    position: absolute;
    top: -29px;
    left: -36px;
    font-size: 26px;
    font-weight: 500;
    padding: 60px 10px 0;
    cursor: pointer;
}

.donate-form__amount input[type="radio"] {
    appearance: none;
    background-color: #FFEE2E;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: grid;
    place-content: center;
    outline-offset: 0;
    outline: 2px solid transparent;
    transition: 0.2s;
}

.donate-form__amount input[type="radio"]::before {
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid transparent;
    transform: scale(0);
    transition: 0.2s transform;
}

.donate-form__amount input[type="radio"]:checked::before {
    transform: scale(1);
    border-color: var(--color-orangemain);
}

.donate-form__amount input[type="radio"]:checked {
    outline: 2px solid var(--color-orangemain);
    outline-offset: 7px;
}

.donate-form__amount input[type="radio"]:checked+label {
    color: var(--color-orangemain)
}

.input-text_number::-webkit-inner-spin-button {
    appearance: none;
    -webkit-appearance: none;
}

.input-text_number {
    -moz-appearance: textfield;
}

.donate-form__another-amount {
    position: relative;
}

.donate-form__currency {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: #929699;
    font-weight: 700;
    font-size: 20px;
}

.input-text_number:focus+label {
    color: var(--color-green)
}

.input-text_number:invalid+label {
    color: var(--color-red)
}

.donate-form__period {
    display: flex;
    gap: 50px;
    margin: 13px 0 20px;
    margin-left: -11px;
}

.donate-form-period__item input {
    appearance: none;
    margin-right: 6px;
    width: 16px;
    height: 16px;
    display: inline-grid;
    place-content: center;
    border: 1px solid var(--color-orangemain);
    border-radius: 50%;
    transform: translateY(1px);
}

.donate-form-period__item input::after {
    content: '';
    width: 16px;
    height: 16px;
    background-color: var(--color-orangemain);
    transform: scale(0);
    transition: 0.2s;
    border-radius: 50%;
}

.donate-form-period__item input:checked::after {
    transform: scale(1);
    background-color: var(--color-green);
}

.button_type_donate {
    margin-bottom: 24px;
}

.button_type_donate+p {
    margin: 0;
}


@media screen and (max-width: 1000px) {
    .pick__information h3:first-child {
        margin-bottom: 30px;
    }

    .pick-friend_h3 {
        margin-bottom: 40px;
    }

    .pick-content {
        padding: 20px 65px 45px;
    }

    .pick__diagram {
        margin-top: 47px;
    }

    .pick {
        padding-bottom: 30px;
    }

    .dinate-amount__item_hide:first-child {
        display: none;
    }

    .donate-form__amount {
        padding: 0 10px;
    }

    .donate-form__amount::after {
        width: calc(100% - 20px);
    }

    .donate-amount__item label {
        left: -22px;
    }
}

@media screen and (max-width: 880px) {
    .pick-content {
        padding-left: 20px;
        padding-right: 20px;
    }

}

@media screen and (max-width: 600px) and (min-width: 320px) {
    .pick__diagram {
        width: 80%;
    }
    .pick-diagram-animal_panda {
        width: 100%;
        background-size: contain;
    }

}

@media screen and (max-width: 640px) {
    .hero-image {
        min-height: 335px;
    }

    .pick__information h3.color_white {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .pick__information .font-body {
        margin-bottom: 0;
    }

    .pick-friend_h3 {
        margin-bottom: 30px;
    }

    .pick__information h3:last-child {
        margin-top: 26px;
    }

    .pick-content {
        padding: 31px 0 30px;
    }

    .pick-content>.font-body {
        margin-left: 10px;
    }

    .dinate-amount__item_hide {
        display: none;
    }

    .input-text_number {
        width: 180px;
        min-height: 42px;
    }

    .pick {
        padding-top: 32px;
        padding-bottom: 50px;
    }

    .pick_font-subtitle {
        text-align: center;
    }

    .pick__diagram {
        margin-top: 76px;
        margin-bottom: 11px;
    }

    .donate-form__amount {
        padding: 0 35px;
    }

    .donate-form__amount::after {
        width: calc(100% - 70px);
    }

    .donate-amount__item label {
        left: -32px;
    }
}

@media screen and (max-width: 320px) {
    .hero-image {
        min-height: 187px;
    }

    .pick-content {
        padding: 20px;
    }

    .pick__information h3 {
        font-size: 24px;
        line-height: 1.2;
        margin-bottom: 20px;
    }

    .pick-friend_h2 {
        font-size: 24px;
        line-height: 1.2;
    }

    .pick_font-subtitle {
        font-size: 16px;
        line-height: 1.4;
        text-align: center;
    }

    .pick-content {
        padding: 20px 0;
        gap: 10px;
    }

    .pick__diagram {
        gap: 26px;
        margin-bottom: -17px;
        margin-top: 10px;
    }

    .pick-diagram__count {
        font-size: 40px;
    }

    .pick__diagram .font-body {
        font-size: 9px;
    }

    .pick-diagram-animal_panda {
        width: 160px;
        height: 138px;
        background-size: contain;
    }

    .svg-x {
        width: 8px;
        height: 8px;
        margin-left: -18px;
    }

    .donate-form__amount {
        height: 13px;
        padding: 0 18px;
        margin-bottom: 38px;
    }

    .donate-form__amount input[type="radio"] {
        width: 5px;
        height: 5px;
    }

    .donate-form__amount input[type="radio"]::before {
        width: 20px;
        height: 20px;
        border: 1px solid var(--color-orangemain);
    }

    .donate-form__amount input[type="radio"]:checked {
        outline-offset: 4px;
        outline-width: 1px;
    }

    .donate-amount__item label {
        font-size: 13px;
        top: -46px;
        left: -21px;
    }

    .donate-form__amount::after {
        width: calc(100% - 36px);
    }

    .pick-content>.font-body {
        margin: 0;
    }

    .button_type_donate+p {
        white-space: nowrap;
    }

    .pick__information h3:last-child {
        margin-bottom: 30px;
    }

    .pick {
        padding-bottom: 20px;
    }
}