body {
    background-color: darkslategrey;
    font: 16px/1.4 Roboto, Arial, sans-serif;

}

.container {
    margin: 2rem auto;
    width:clamp(310px, 90%, 560px);
}

.cell {
    background-color: lightcoral;
    color: darkslategray;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(16px + 0.5vw);
    user-select: none;
    position: relative;
    left: 0;
    top: 0;
    transition: 0.2s;
    aspect-ratio: 1;
}

.cell_empty {
    background-color: transparent;
}


.game-grid {
    display: grid;
    gap: 4px;
    position: relative;
}

.draggable {
    cursor: pointer;
    transition: 0.2s;
    &:hover {
        opacity: 0.85;
    }
}

.draggable_dragging {
    opacity: 0.7;
    transform: scale(0.9);
}

.cell-animation {
    animation: sliding 0.3s 1 ease-in-out;
}


@keyframes sliding {
    0% {transform: none;}
    30% {
        transform: scale(1.1);
        box-shadow: 0 0 8px rgba(0,0,0,0.4);
    }
    100% {transform: none;}

}


