.controls {
    color: white;
    padding: 16px 0;
}

.scores {
    display: flex;
    justify-content: space-between;
}

.controls__btns {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 1rem;

    div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
}

.button {
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.3);
    padding: 8px 12px;
    transition: 0.2s;
    color: white;
    border: none;
    cursor: pointer;
    user-select: none;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
}

.sound-input {
    appearance: none;
    background-color: white;
    margin: 0;
    width: 16px;
    height: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    &:checked::before {
        transform: scale(1);
    }
    &::before {
        content: '';
        width: 10px;
        height: 10px;
        background-color: rgba(255, 255, 255, 0.6);
        transform: scale(0);
        transition: 0.2s;
    }
}